xml/circuito.dtd

<!ELEMENT circuito (nombre, datosFisicos, evento, localizacion, tramos, resultado, clasificacionMundial, referencias, galeriaFotos, galeriaVideos)>

<!ELEMENT nombre (#PCDATA)>

<!ELEMENT datosFisicos (longitudCircuito, anchura)>
<!ELEMENT longitudCircuito (#PCDATA)>
<!ELEMENT anchura (#PCDATA)>

<!ELEMENT evento (fecha, hora, vueltas, patrocinador)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT vueltas (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>

<!ELEMENT localizacion (localidad, pais, origen)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT origen (longitud, latitud, altitud)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT altitud (#PCDATA)>

<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (distancia, coordenadas, sector)>
<!ELEMENT distancia (#PCDATA)>
<!ATTLIST distancia unidad CDATA #REQUIRED>
<!ELEMENT coordenadas (longitud, latitud, altitud)>
<!ELEMENT sector (#PCDATA)>

<!ELEMENT resultado (vencedor, tiempo)>
<!ELEMENT vencedor (nombrePiloto)>
<!ELEMENT nombrePiloto (#PCDATA)>
<!ELEMENT tiempo (#PCDATA)>

<!ELEMENT clasificacionMundial (piloto+)>
<!ELEMENT piloto (posicion, nombre, puntos)>
<!ELEMENT posicion (#PCDATA)>
<!ELEMENT puntos (#PCDATA)>

<!ELEMENT referencias (ref+)>
<!ELEMENT ref (#PCDATA)>
<!ATTLIST ref href CDATA #REQUIRED>

<!ELEMENT galeriaFotos (foto+)>
<!ELEMENT foto (#PCDATA)>
<!ATTLIST foto
    fichero CDATA #REQUIRED
    titulo CDATA #REQUIRED>

<!ELEMENT galeriaVideos (video+)>
<!ELEMENT video (#PCDATA)>
<!ATTLIST video
    fichero CDATA #REQUIRED
    titulo CDATA #REQUIRED>